.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
}

.link {
  @apply inline-flex items-center text-primary leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-accents-6;
}

.link:hover {
  @apply text-accents-9;
}

.link:focus {
  @apply outline-none text-accents-8;
}

.logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}



.logo{
  box-shadow: 0 10px 6px 0 rgb(0 0 0 / 18%);
  border-radius: 6px;
  border: 10px solid #fff;
}

.mobilebarContainer {
  bottom: 0px;
  z-index: 12;
  background-color:whitesmoke;
  margin: 0 0px 0 -24px;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
}


.mobilebarTabItem {
  height: 70px;
  width: 8rem;
  border-radius: 50%;
  padding:1.3rem 0;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}